body {
    background-image: url("https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1497990466%2F1706w-Getty-Honeybees-Achim%2520Schuelke-EyeEm.jpg%3Fitok%3DGmOVYhyC&w=800&q=85");
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 75%;
    border: 2.5rem solid gold;
    padding: 2.5rem;
    margin: 2.5rem;
    color: rgb(255, 179, 102);
    background-color: rgb(204, 255, 255);
    text-align: center;
}

.low-usage {
    color: rgb(133, 224, 133);
}

.medium-usage {
    color: black;
}

.high-usage {
    color: rgb(255, 153, 128);
}